* {
    /*border: 1px solid black; */
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.header{
    text-align: center;
    padding: 3px;
}
nav {
    display: flex;
    padding: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    color: grey;
    text-decoration: underline;
}


.left-link {
    flex: 1 1;
    display: block;
}
.right-link{
    display: block;
}

#map {
    height: 530px;
    /* The height is 530 pixels */
    width: 100%;
    /* The width is the width of the web page */
}