<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>Alumni Map</title>
</head>
<body>
    <div class="header">
        <h1>Alumni Map</h1>
    </div>
<nav>
    <div class="left-link">
        <a href="{{url_for('index')}}">Home</a>
    </div>
    <div class="right-link">
        <a href="{{url_for('logout')}}">Logout</a>
    </div>
</nav>
<div align="center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d85552.13660043557!2d129.71566690380337!3d62.044312099942175!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2stw!4v1612701363723!5m2!1sen!2stw"> 
    </iframe>
</div>

</body>
</html>